<div class="view">


<h1 class="tellUsMore">Now please tell us more about you</h1>
<form method="POST" >
    <div class="forms">


    <input type="text" name="age" value="">age</br>
    <input type="text" name="city" value="">city</br>
    <input type="text" name="homepage" value="">homepage</br>
    <button name="continue">continue</button>
    <form class="" action="/logout" method="get">
        <button name="button">signout</button>
        <input type="hidden" name="_csrf" value="{{csrfToken}}">

    </form>

        </div>




</form>
</div>
